@font-face {
   font-family: "casper";
   src: url("/public/asset/funky.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "rikky";
   src: url("/public/asset/pig.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "tha";
   src: url("/public/asset/ThaleahFat.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
.text-halo {
   color: #fcdc3b !important;
}
body {
   overflow-x: hidden;
}
.font-tha {
   font-family: 'tha' !important;
}